@model VMServicePackUpdate
@{
    ViewData["Title"] = "UpdateServicePack";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Hizmet Paketleri</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Administrator/Home/Index">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Hizmet Paketleri</li>
                </ol>
            </div><!-- /.col -->
            <div class="col-12">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="container">
    @if (ViewBag.ServicePackResult != null)
    {
        <div class="row mb-3">
            @if (ViewBag.ServicePackResult.ResultStatus == ResultStatus.Success)
            {
                <div class="col alert-success">
                    <span>@ViewBag.ServicePackResult.Message</span>
                </div>
            }
            else
            {
                <div class="col alert-danger">
                    <span>@ViewBag.ServicePackResult.Message</span>
                </div>
            }
        </div>
    }
    <a asp-action="Index" asp-controller="ServicePack" class="btn btn-info"><i class="nav-icon far ion-arrow-left-b"></i> Hizmet Paketleri</a>
    <form asp-action="UpdateServicePack" asp-controller="ServicePack" method="post">
        <input asp-for="ServicePackID" type="hidden" value="@Model.ServicePackID" />
        <div class="form-row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="col-12 form-group">
                    <label class="col-form-label">Hizmet Paketi Adı</label>
                    <input asp-for="PackName" class="form-control" type="text" placeholder="Zorunlu" />
                </div>
                <div class="col-md-12 form-group">
                    <label class="col-form-label">Fiyatı</label>
                    @Html.TextBoxFor(x => x.PackPrice, new { @class = "form-control", @type = "currency" })
                </div>
                <div class="col-md-12 form-group">
                    <label class="col-form-label">Açıklama</label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                </div>
                <div class="col-12 form-group d-flex justify-content-center">
                    <button class="btn btn-primary" type="submit">Güncelle</button>
                </div>
            </div>
        </div>
    </form>
</div>



