@model VMGuestCreate
@{
    ViewData["Title"] = "AddGuest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Misafirler</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Reception/Home/Index">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Misafirler</li>
                </ol>
            </div><!-- /.col -->
            <div class="col-12">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="container">
    @if (ViewBag.GuestResult != null)
    {
        <div class="row">
            @if (ViewBag.GuestResult.ResultStatus == ResultStatus.Success)
            {
                <div class="col alert-success">
                    <span>@ViewBag.GuestResult.Message</span>
                </div>
            }
            else
            {
                <div class="col alert-danger">
                    <span>@ViewBag.GuestResult.Message</span>
                </div>
            }
        </div>
    }
    <div class="row">
        <div class="col">
            <form asp-action="AddGuest" asp-controller="Guest" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All">

                </div>
                <div class="form-row">
                    <div class="col-md-12 form-group">
                        <label class="col-form-label">Kimlik/Pasaport Numarası</label>
                        <input asp-for="IdentificationNumber" class="form-control" type="text" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-form-label">isim</label>
                        <input asp-for="FirstName" class="form-control" type="text" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Soyisim</label>
                        <input asp-for="LastName" class="form-control" type="text" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Telefon No</label>
                        <input asp-for="PhoneNumber" class="form-control" type="tel" min="1" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-form-label">EPosta</label>
                        <input asp-for="Email" class="form-control" type="text" min="1" />
                    </div>
                    <div class="col-6 form-group">
                        <label class="col-form-label">Ülke</label>
                        <input asp-for="Country" class="form-control" type="text" min="1" />
                    </div>
                    <div class="col-6 form-group">
                        <label class="col-form-label">Adres</label>
                        <textarea asp-for="Adress" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="col-6 form-group">
                        <label class="col-form-label">Kimlik Ön Yüz</label>
                        <div class="custom-file">
                            <input type="file" name="idCardFrontSide" class="custom-file-input" accept="image/png, image/jpeg, image/jpg" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                            <label class="custom-file-label" for="inputGroupFile03">Görsel Seç</label>
                        </div>
                    </div>
                    <div class="col-6 form-group">
                        <label class="col-form-label">Kimlik Arka Yüz</label>
                        <div class="custom-file">
                            <input type="file" name="idCardBackSide" class="custom-file-input" accept="image/png, image/jpeg, image/jpg" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                            <label class="custom-file-label" for="inputGroupFile03">Görsel Seç</label>
                        </div>
                    </div>
                    <div class="col-12 form-group d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit">Oluştur</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

