@*@model VMFooter*@ 
 <!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Bilge Hotel</h3>                    
                    <div class="w-100 h-100">
                        @await Component.InvokeAsync("FooterContact")
                    </div>
                    
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Bağlantılar</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/Index">Ana Sayfa</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/About/Index">Hakkımızda</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Odalar</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Service/Index">Hizmetler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Contact/Index">İletişim</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Odalar</h4>
                    @await Component.InvokeAsync("FooterRoomTypes") 
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Üye Ol</h4>
                    <p>Üye değilseniz hemen üye olun indirimli online rezervasyon fırsatlarını kaçırmayın.</p>
                    <a class="btn text-white" style="background-color: #b56952;" href="/Account/Register">Üye Ol</a>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>Bilge Hotel</span></strong>. All Rights Reserved
            </div>

        </div>
        @*<div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        </div>*@
    </div>
</footer><!-- End Footer -->