@model VMEmployeeRoleSelectionCombine

<form asp-action="EmployeeRoleSelection" asp-controller="Employee" method="post">
    <input type="hidden" asp-for="EmployeeID" value="@Model.EmployeeID" />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" colspan="2">Rol Ekle</th>
            </tr>
            <tr>
                <th>Seçim</th>
                <th>Roller</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.VMEmployeeRoleSelections.Count > 0)
            {
                @for (int i = 0; i < Model.VMEmployeeRoleSelections.Count; i++)
                {
                    <tr>
                        <td class="text-center">
                            <input type="hidden" asp-for="VMEmployeeRoleSelections[i].RoleName" value="@Model.VMEmployeeRoleSelections[i].RoleName" />
                            <input type="checkbox" asp-for="@Model.VMEmployeeRoleSelections[i].Selected" />
                        </td>
                        <td>@Model.VMEmployeeRoleSelections[i].RoleName</td>
                    </tr>
                }
            }
            <tr>
                <td colspan="2">
                    <button class="btn btn-primary w-100" type="submit">Ekle</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</form>