@{
    ViewData["Title"] = "Home Page";
}

<div class="row h-50">
    <div class="col w-100" style="background-image: url(https://panel.bookingprodigital.com/uploads/hotel_10/orginal/photo-10-TAg3DzVGBrFRisq.jpg); height:600px"></div>
</div>
